<% if event.liked_by?(current_user) %>
	<%= link_to event_likes_path(event), method: :delete, remote: true do %>
		<h4><i class="glyphicon glyphicon-heart"style="color: #F96167"><%= event.likes.count%></i></h4>
	<% end %>
<% else %>
	<%= link_to event_likes_path(event), method: :post , remote: true do %>
	    <h4><i class="far fa-heart"style="color: #F96167"><%= event.likes.count %></i></h4>
	<% end %>
<% end %>

