 <div class="container" style="padding-bottom: 100px">
    <h1 class="about"><i class="fas fa-question-circle">About</i></h1>
    <div class="row about-title">
        <div class="col-lg-12 col-xs-12">
            <h4>当サイトでは、アート好きな人たちが情報共有できるをテーマに、アートイベントやアート作品の情報共有ができます。<br>気になったイベントや作品には、イイネやコメントをすることができ、ユーザー同士の交流が出来るSNSサイトです。</h4>
        </div>
    </div>

    <div class="row about-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h2 class="fas fa-calendar-alt" style="margin-left: 25px;">Event(イベント)</h2><br><br>
            <ul style="margin-bottom: 30px;">
              <li>気になるイベントやおすすめのイベントを投稿して、ユーザーに共有できます。</li><br>
              <li>イベントの開催場所をサイト内のMapで確認ができます</li><br>
              <li>投稿したイベントにイイネやコメントをすることができます。</li><br>
              <li>サイト内でイベント情報の検索ができます。</li><br>
            </ul>
        </div>

        <div class="col-lg-4 about-image">
          <div class="top-content-top-event"style="width: 100%; height:250px;"></div>
        </div>
    </div>

    <div class="row about-content">
        <div class="col-lg-1"></div>
            <div class="col-lg-4 about-image">
              <div class="top-content-top-event"style="width: 100%; height:250px;"></div>
            </div>

        <div class="col-lg-6">
               <h2 class="fas fa-paint-brush" style="margin-left: 25px;" >Artwork(作品)</h2><br><br>
            <ul style="margin-bottom: 30px;">
              <li>おすすめのアート作品や自分で製作した作品を投稿できます。</li><br>
              <li>投稿した作品にイイネやコメントをすることができます。</li><br>
              <li>タグ機能で同じジャンルの作品を絞り、表示することができます。</li><br>
              <li>サイト内で作品情報の検索ができます。</li><br>
            </ul>
        </div>
    </div>


    <div class="row about-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h2 class="fas fa-user" style="margin-left: 25px;">My Page(マイページ)</h2><br><br>
            <ul>
              <li>気になるユーザーをフォローすることができます。</li><br>
              <li>自分の投稿したイベントや作品を確認できます。</li><br>
            </ul>
        </div>

        <div class="col-lg-4 about-image">
          <div class="top-content-top-event"style="width: 100%; height:250px; margin-bottom: 30px;"></div>
        </div>
    </div>
</div>
