<div class="about-container" style="width:40%; margin: 50px auto;">
    <div class="row">
    	<div class="col-xs-11">

            <div class = "about-title">
    			<div style = "text-align: left">
    				<h1 class="about"><i class="fas fa-question-circle">About</i></h1>
                    <h4>当サイトは、アート好きな人たちが情報共有できるサイトです。</h4>
                    <h3> 〜Like Artでできること〜</h3>

                    <h2><i class="fas fa-calendar-alt">Event(イベント)</i></h2>
                    <li>気になるイベントやおすすめのイベントを投稿して、ユーザーに共有できます。</li>
                    <li>イベントの開催場所をサイト内のMapで確認ができます</li>
                    <li>投稿したイベントにイイネやコメントをすることができます。</li><br>

                     <h2><i class="fas fa-paint-brush">Artwork(作品)</i></h2>
                     <li>おすすめのアート作品や自分で製作した作品を投稿できます。</li>
                     <li>投稿した作品にイイネやコメントをすることができます。</li>
                     <li>タグ機能で同じジャンルの作品を絞り、表示することができます。</li><br>

                     <h2><i class="fas fa-user">マイページ</i></h2>
                     <li>気になるユーザーをフォローすることができます。</li>
                     <li>自分の投稿したイベントや作品を確認できます。</li><br>
                </div>
    		</div>
    	</div>
    </div>
</div>
