/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';

header {
	font-size :15px;
  background-color:#d3d3d3;
}

.nav-item{
 padding-right: 20px;
 padding-top: 20px;
}


a {
color:black;
}
a:hover{
color:#9f385b;
}


.gnav a {
color:black;
}

.gnav a:hover{
color:#9f385b;
}



footer {
  padding: 20px 0;
  font-size: 15px;
  text-align: center;
  background-color: #d3d3d3;
}

.container-mf {
  margin-left: 500px;
   }

.login{
    font-family: impact;
    font-size: 30px;
}

.signup{
  font-family: impact;
  font-size: 30px;
}

#error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}

.form-control-search{
  width: 10%;
  border-color: black;
  border-width: thin;
  border-style: solid;
}


.gnav {
    display: flex;
    height: 5rem;
    margin: 20px auto;
    width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
    width: 25%;
    padding-right: 20px;
    padding-top: 30px;
}

/*全てのリスト・リンク共通*/
.gnav li {
    list-style: none;
    position: relative;
}
.gnav li  {
    background: #d3d3d3;
    color: black;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/*子階層以降共通*/
.gnav li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.gnav li li  {
    border-top: 1px solid #d3d3d3;
}
.gnav li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}

/*aの背景色を指定*/
.gnav li:hover a {/*親階層*/
    background: #d3d3d3;
}
.gnav li li a {/*子階層*/
    background: #d3d3d3;
}
.gnav li li:hover a {
    background: #d3d3d3;
}


